<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une relation</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<!-- Header Section -->
<header class="flex justify-between items-center py-4 px-6 bg-white shadow">
    <div class="text-lg font-bold">Pay My Buddy</div>
    <nav class="space-x-4">
        <a th:href="@{/transfer}" class="text-gray-600 hover:text-sky-500 font-bold">Transférer</a>
        <a href="#" class="text-gray-600 hover:text-sky-500 font-bold">Profil</a>
        <a th:href="@{/userconnections}" class="text-gray-600 hover:text-sky-500 font-bold">Ajouter relation</a>
        <a th:href="@{/logout}" class="text-gray-600 hover:text-sky-500 font-bold">Se déconnecter</a>
    </nav>
</header>

<!-- Main Form Section -->
<div class="flex justify-center items-center h-screen">
    <form th:action="@{/adduserconnection}" method="post" class="bg-white p-6 rounded shadow-md w-full max-w-md">
        <!-- Form Title -->
        <h2 class="text-lg font-bold mb-4">Chercher une relation</h2>
        <!-- Email Input -->
        <div class="mb-4">
            <label for="email">Email</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" id="email" name="email" placeholder="Saisir une adresse mail" required>

        </div>
        <!-- Submit Button -->
        <div class="flex justify-center">
            <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Ajouter
            </button>
        </div>
    </form>
</div>

<!-- Error Message Section -->
<div th:if="${param.error}" class="text-center text-red-500 mt-4">
    <p th:text="${param.error}"></p>
</div>
</body>
</html>